

# First, Denylist ignore everything
*

# Now, Denylist ignore anything that's a directory
!*/

# Allowlist the file or folder
# !NotIgnoredFile
# !NotIgnoredFolder/

# Recursively allowlist its contents
# !NotIgnoredFolder/**

!docker/**
!docker-compose/**

!.dockerignore
!.gitignore
!.tool-versions

!app/**

# !Gemfile
# !Gemfile.lock

!Gemfiles/**

!template.rb

col-rails-demo/




