

# First, Denylist ignore everything
*

# Now, Denylist ignore anything that's a directory
!*/

# Allowlist the file or folder
# !NotIgnoredFile
# !NotIgnoredFolder/

# Recursively allowlist its contents
# !NotIgnoredFolder/**

!docker/**
!docker-compose/**

!.dockerignore
!.gitignore
!.tool-versions

!app/**
!config/**

!.active_record_doctor.rb
# !Gemfile
# !Gemfile.lock

!Gemfiles/**

!README.md
!template.rb

col-rails-demo/




